.bannerDesktop {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-color: #f5f5f5;
}

/* Gradiente Header */

.headerGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 340px;
  background: linear-gradient(
    to bottom,
    #080f18 0%,
    #080f18 40%,
    rgba(6, 11, 18, 0) 100%
  );
  z-index: 2;
  pointer-events: none;
}

/* Header Mobile */

.headerMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  position: relative;
  z-index: 3;
  gap: 7rem;
}

.right {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.searchBox {
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.1);
  padding: 0.4rem 0.8rem;
  border-radius: 12px;
}

.searchInput {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 0.9rem;
  width: 100px;
}

/* Banner Mobile */

.bannerMobile {
  width: 100%;
}

.boxBanner {
  position: relative; 
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.imageBanner {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.textOverlay {
  position: absolute;
  bottom: 7rem;
  left: 1.8rem;
  right: 1rem;
  color: #fff;
  z-index: 2; 
}

.bannerTitle {
  font-family: var(--title);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  line-height: 1.2;
} 


.shopNowBtn {
  font-family: var(--text);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  background: rgba(255,255,255,0.1); /* azul principal */
  color: #ffffff;
  padding: 0.4rem 1rem;
  border-radius: 100px;
  font-size: 0.9rem;
  font-weight: 500;
  border: #ffffff85 solid 0.5px;
  outline: none;
  cursor: pointer;
  transition: background 0.2s ease;
}

.shopNowBtn:hover {
  background: #243b5c; /* leve variação no hover */
}

/* Marcas */

.brandsSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto; 
  flex-wrap: nowrap; 
  gap: 0; 
  scrollbar-width: none;  
}

.brandsSection::-webkit-scrollbar {
  display: none; 
}

.brandItem {
  flex: 0 0 auto; 
}


/* Destaques */

.featuredSection {
  width: 100%;
  padding: 0.5rem 2rem;
}

.sectionTitle {
  font-family: var(--title);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.sectionTitle span {
  color: #243b5c;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem;
  width: 100%;
  margin-top: 1.5rem;
}

/* =========================
   FOOTER
========================= */
.footer {
  width: 100%;
  max-width: 400px;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

.footer h2 {
  font-family: var(--title);
  font-weight: 100;
  font-size: 1.4rem;
}

.stores {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0 1.5rem 0;
}

.mockups {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .footer {
    display: none;
  }

  .headerMobile {
    display: none;
  }

  .container {
    position: relative;
    padding: 0;
  }

   /* Mostra no desktop */
  .bannerDesktop {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 700px;
    z-index: 1;
    overflow: hidden;
  }

  .bannerDesktop .boxBanner {
    width: 100%;
    height: 100%;
  }

  .bannerDesktop .imageBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bannerDesktop .textBox {
    position: absolute;
    left: 5rem;
    bottom: 8.5rem;
    color: #fff;
    z-index: 1;
  }

  .bannerDesktop .textBox h1 {
    font-family: var(--title);
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 0rem;
  }

  .bannerDesktop .shopNowBtn {
    font-family: var(--text);
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 0.7rem 1.2rem;
  }

  .bannerMobile {
    display: none; /* some no desktop */
  }

  
}