
/* =========================
   HEADERS
========================= */
.headerMobile {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 7%; 
}

.headerContainer {
  padding-inline: 2rem;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.backButton {
  border: none;
  background: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.315);
}

.headerDesktop {
  display: none;
  gap: 1rem;
  margin-bottom: 2rem;
}

.headerTitle {
  font-family: var(--title);
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  color: #0d1a2b;
}


.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .profilePicture {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .userIcon {
    font-size: 120px;
    color: #555;
  }
  
  .editPhotoIcon {
    position: absolute;
    bottom: 10px;
    right: 80px;
    font-size: 24px;
    color: #0d1a2b;
    cursor: pointer;
  }
  
  .profileInfo {
    width: 90%;
    max-width: 400px;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 1rem;
  }
  
  .profileInfo p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .editIcon {
    color: #0d1a2b;
    font-size: 20px;
    cursor: pointer;
  }
  
  .inputEditar {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    margin-left: 10px;
  }
  
  .saveButton {
    margin-left: 8px;
    background-color: #a3a3a3;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .deleteBtn {
    color: #ad0a0a;
    border: #ad0a0a 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin-top: 1rem;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .deleteBtn:hover {
    color: #6b0707;
    border: #6b0707 1px solid;
    background-color: #ffb5b5;
  }
