/* =====================
    LAYOUT GERAL
===================== */
.container {
  min-height: 100vh;
  padding-top: 7rem;
  background: #f7f7f7;
  padding-inline: 2.5rem;
}

/* =====================
      HERO DA MARCA
===================== */
.hero {
  background: linear-gradient(
    145deg,
    #ffffff 0%,
    #f1f1f1 100%
  );
  border-radius: 18px;
  padding: 2.8rem;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
}

.heroContent {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.heroLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
}

.heroText h1 {
  font-family: var(--title);
  font-size: 2.8rem;
  margin-bottom: 0.4rem;
  color: #0d1a2b;
}

.heroText p {
  font-family: var(--text);
  color: #5f748a;
  font-size: 1.05rem;
  max-width: 600px;
}

/* =====================
   GRID DE PRODUTOS
===================== */
.productsSection {
  margin-top: 1rem;
}

.sectionTitle {
  font-family: var(--title);
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #0d1a2b;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 28px;
  margin-top: 2rem;
}

/* =====================
    CARD DO PRODUTO
===================== */
.card {
  background: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  transition: transform 0.25s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);;
}

.productImageWrapper {
  width: 100%;
  height: 280px; /* maior para não cortar */
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.productImage {
  width: 90%;
  height: auto;
  object-fit: contain; /* evita vazamento */
  transition: transform 0.3s ease;
}

.card:hover .productImage {
    transform: scale(1.05);
}

.cardInfo {
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cardInfo h3 {
  font-size: 1.4rem;
  font-family: var(--title);
  font-weight: 500;
}

.price {
  font-size: 1.1rem;
  font-family: var(--text);
  font-weight: 500;
}

/* BOTÃO */
.buyBtn {
  margin-top: 10px;
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  background: #0d1a2b;
  color: white;
  cursor: pointer;
  font-size: 0.95rem;
  transition: opacity 0.25s ease;
}

.buyBtn:hover {
  opacity: 0.8;
}

/* =====================
   RESPONSIVIDADE
===================== */
@media (max-width: 768px) {
  .heroContent {
    flex-direction: column;
    text-align: center;
  }

  .heroText h1 {
    font-size: 2.2rem;
    font-family: var();
  }
}
