.container {
  background: #f2f2f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.leftGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.backBtn {
  border: none;
  background: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.315);
}

.title {
  font-family: var(--titulo); 
  font-weight: 500;
  font-size: 1rem;
}

/* Login Options */
.section {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subtitle {
  font-family: var(--text);
  font-weight: 100;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: var(--text-weak);
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.9rem;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  justify-content: center;
}

.optionTitle {
  padding-left: 0.2rem; 
  font-size: 0.8rem;  
  font-family: var(--text);
  font-weight: bold;
}

.emailCode {
  background: #6c63ff;
  color: #fff;
}

.apple {
  background: #000;
  color: #fff;
}

.facebook {
  background: #1b2d4f;
  color: #fff;
}

.google {
  background: #fff;
  border: 1px solid #ddd;
  color: #000;
}

.enterEmail {
  background: #fff;
  border: 1px solid #ddd;
}

/* Terms */
.terms {
  font-family: var(--text);
  display: flex;
  gap: 0.5rem;
  font-size: 0.85rem;
  align-items: flex-start;
  margin-top: 1rem; 
}

.haveAccount {
  font-family: var(--text);
  font-weight: 200;
  text-align: center;
  margin: 1rem 0 0.5rem 0;
  font-size: 0.9rem;
}

/* Footer */
.footer {
  margin-top: auto;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.footer h2 {
  font-family: var(--titulo);
  font-weight: 200;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.stores {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.mockups {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
