.bannerDesktop {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-color: #f5f5f5;
}

/* Gradiente Header */

.headerGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 310px;
  background: linear-gradient(
    to bottom,
    #080f18 0%,
    #080f18 40%,
    rgba(6, 11, 18, 0) 100%
  );
  z-index: 2;
  pointer-events: none;
}

/* Header Mobile */

.headerMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  position: relative;
  z-index: 3;
  gap: 7rem;
}

.right {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.searchBox {
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.1);
  padding: 0.4rem 0.8rem;
  border-radius: 12px;
}

.searchInput {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 0.9rem;
  width: 100px;
}

/* Banner Mobile */

.bannerMobile {
  width: 100%;
}

.boxBanner {
  position: relative; 
  width: 100%;
  height: auto;
  overflow: hidden;
}

.imageBanner {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.textOverlay {
  position: absolute;
  bottom: 6.5rem;
  left: 1.8rem;
  right: 1rem;
  color: #fff;
  z-index: 2; 
}

.bannerTitle {
  font-family: var(--title);
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.3;
} 

.bannerSubtitle {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  opacity: 0.8;
}

.shopNowBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  background: rgba(255,255,255,0.1); /* azul principal */
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background 0.2s ease;
}

.shopNowBtn:hover {
  background: #243b5c; /* leve variação no hover */
}

/* Marcas */

.brands {
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;  
  align-items: center;
  justify-content: center;
  gap: 0rem;
  overflow-x: auto;
  scrollbar-width: none; 
}

/* Destaques */

.featuredSection {
  width: 100%;
  padding: 0.5rem 2rem;
}

.sectionTitle {
  font-family: var(--title);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.sectionTitle span {
  color: #243b5c;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem;
  width: 100%;
  margin-top: 1.5rem;
}

.productCard {
  font-family: var(--title);
  background: #ffffff;
  border-radius: 12px;
  padding: 0.5rem;  
  display: flex; 
  align-items: center;
  gap: 0.7rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: transform 0.2s ease;
}

.productCard:hover {
  transform: translateY(-3px);
}

.productImage {
  width: 90px;   
  height: auto;
  object-fit: contain;
  flex-shrink: 0; 
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 0rem;
}

.productBrand {
 font-size: 0.85rem;
  color: #7e7e7e;
  font-weight: 100;
  line-height: 0.9; 
  margin: 0; 
}

.productName {
  font-size: 0.95rem;
  font-weight: 500;
  color: #111;
  line-height: 1.1;
}
