/* =========================
   CONTAINER PRINCIPAL
========================= */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza verticalmente */
  align-items: center;     /* centraliza horizontalmente */
  min-height: 50dvh;
  background: #f2f2f2;
  padding-inline: 2rem;
  gap: 2rem;
}

/* =========================
   HEADERS
========================= */
.headerMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
    margin-top: 100px;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.backButton {
  border: none;
  background: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.315);
}

.headerDesktop {
  display: none;
  gap: 1rem;
  margin-bottom: 2rem;
}

.headerTitle {
  font-family: var(--title);
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  color: #0d1a2b;
}


.products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--text);
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card p {
  font-weight: 600;
  color: #748CAB;
}

.productImg {
  width: 100%;
  height: 350px;
  object-fit: contain;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.price {
  color: #3a3a3a;
  font-weight: bold;
  margin-top: 0.3rem;
}

.buyBtn {
  display: inline-block;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  padding: 0.5rem 4rem;
  background: #0d1a2b;
  color: #fff;
  font-size: 0.9rem;
  font-family: var(--text);
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.2s ease;
}

.buyBtn:hover {
  background: #12263d;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

