.mobile {
  display: block;
}

.desktop {
  display: none;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes the full height of the viewport */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  box-sizing: border-box; /* Include padding and border in height calculation */
}

.desktop {
  flex: 1; /* Push the footer to the bottom */
}

.content {
  flex: 1; /* Push the footer to the bottom of the section */
}